<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ono.app">
    <!-- 권한 선언 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- 카메라와 저장소가 필수가 아님을 명시 -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>

    <application
        android:label="OnO"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
                android:name="com.google.android.gms.auth.api.fallback"
                android:value="true" />

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="high_importance_channel" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 홈 화면 위젯 탭. home_widget 의 HomeWidgetLaunchIntent 가 이 액션과 onowidget:// URL 로
                 MainActivity 를 연다. 명시적 인텐트라 필터 없이도 열리지만, home_widget 예제와 계약서대로 등록해 둔다.
                 VIEW/BROWSABLE 을 넣지 않아서 브라우저나 다른 앱이 onowidget:// 로 앱을 여는 길은 만들지 않는다. -->
            <intent-filter>
                <action android:name="es.antonborri.home_widget.action.LAUNCH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="onowidget" />
            </intent-filter>

            <!-- Flutter 3.27 부터 이 값이 없으면 딥링크 처리가 켜진 것으로 본다. 그러면 위젯이 넘긴 onowidget:// URL 을
                 엔진이 Navigator.pushNamed 로도 밀어 넣는데, 앱 onGenerateRoute 가 모르는 이름이라 예외가 난다
                 (앱이 떠 있을 때 위젯을 누르면 onNewIntent -> pushRouteInformation).
                 위젯 이동은 HomeWidgetRouter 가 home_widget 경로로만 처리하므로 엔진 딥링크는 끈다.
                 지금까지 MainActivity 로 data 가 붙은 인텐트가 들어오는 곳이 없어 기존 동작에는 영향이 없다. -->
            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="false" />
        </activity>
        <!-- 카카오 로그인 커스텀 URL 스킴 설정 -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- "kakao${YOUR_NATIVE_APP_KEY}://oauth" 형식의 앱 실행 스킴 설정 -->
                <!-- 카카오 로그인 Redirect URI -->
                <data android:scheme="kakao7fd2fa49895af63319fd6b11e084d0d5" android:host="oauth"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel" />

        <meta-data
            android:name="com.naver.sdk.clientId"
            android:value="@string/client_id"/>
        <meta-data
            android:name="com.naver.sdk.clientSecret"
            android:value="@string/client_secret"/>
        <meta-data
            android:name="com.naver.sdk.clientName"
            android:value="@string/client_name"/>

        <!-- 홈 화면 위젯. 클래스 이름은 docs/홈 화면 위젯/위젯_데이터_계약.md 와 같아야 한다
             (Dart 가 HomeWidget.updateWidget(qualifiedAndroidName: ...) 으로 부른다). -->
        <receiver
            android:name=".widget.OnOSmallWidgetProvider"
            android:exported="false"
            android:label="@string/widget_small_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_info" />
        </receiver>
        <receiver
            android:name=".widget.OnOMediumWidgetProvider"
            android:exported="false"
            android:label="@string/widget_medium_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_medium_info" />
        </receiver>
        <receiver
            android:name=".widget.OnOLargeWidgetProvider"
            android:exported="false"
            android:label="@string/widget_large_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_large_info" />
        </receiver>

        <!-- 위젯 자정 갱신과 시각, 시간대 변경. 새 권한 없이 받을 수 있는 방송만 쓴다 (WidgetMidnight.kt). -->
        <receiver
            android:name=".widget.WidgetMidnightReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>


    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility?hl=en and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- If your app makes calls -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
        <!-- If your sends SMS messages -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto" />
        </intent>
        <!-- If your app sends emails -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>
</manifest>
