<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>41920987554-3npfho91l117nk3bnuhu51caff3ip44v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpLuO4oC-696P7dCyKDFKwMvt0FWkAjCA</string>
	<key>GCM_SENDER_ID</key>
	<string>41920987554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mvpFront</string>
	<key>PROJECT_ID</key>
	<string>aisip-ono</string>
	<key>STORAGE_BUCKET</key>
	<string>aisip-ono.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41920987554:ios:1f422852f929436b6eb2fb</string>
</dict>
</plist>